@use '../../../../scss/components/common' as common;

.project-list-item {
    &__wrap {
        display: grid;
        grid-template-columns: 32px 1fr;
        grid-gap: 8px;

        &__code {
        }

        &__title {
            display: grid;
            align-items: center;
        }

        @media (width < common.$breakpoint-medium) {
            &__title {
                display: none;
            }
        }
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
