@use '../../../../scss/components/common' as common;

:host {
    display: grid;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    cursor: pointer;

    grid: {
        template: {
            columns: min-content 1fr 80px min-content 100px min-content;
            rows: min-content min-content;
            areas: "project-code name stage state priority delete" "project-code created-on stage state priority delete";
        }
        column-gap: 16px;
    }
    @media (width < common.$breakpoint-medium) {
        & {
            grid-template-columns: min-content 1fr 24px min-content 40px min-content;
        }
    }

    padding: 8px 16px;

    color: var(--mat-sys-on-surface);

    &:hover {
        --_state-layer-opacity: var(--mat-sys-hover-state-layer-opacity);
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: currentColor;

        opacity: var(--_state-layer-opacity, 0);
    }

    .app-issue__project-code {
        grid-area: project-code;
        //white-space: nowrap;
        //position: relative;
        //box-sizing: border-box;
        //place-self: center;
        //overflow: hidden;
        //
        //width: 40px;
        //height: 40px;
        //padding: 4px;
        //
        //border-radius: var(--mat-sys-corner-small);
        //background-color: var(--mat-sys-primary-container);
        //color: var(--mat-sys-on-primary-container);
        //
        //&::after {
        //    content: '';
        //    position: absolute;
        //    inset-inline: 0;
        //    bottom: 0;
        //    height: 4px;
        //    background-color: var(--mat-sys-primary);
        //}
    }

    .app-issue__name {
        grid-area: name;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }

    .app-issue__created-on {
        grid-area: created-on;

        color: var(--mat-sys-on-surface-variant);
        font-size: 12px;
    }

    .app-issue__stage {
        grid-area: stage;
        display: grid;
        justify-content: start;
        align-items: center;
    }

    .app-issue__state {
        grid-area: state;
        display: grid;
        justify-content: start;
        align-items: center;
    }

    .app-issue__priority {
        grid-area: priority;
        display: grid;
        justify-content: start;
        align-items: center;

    }

    .app-issue__delete {
        grid-area: delete;
        display: grid;
        place-items: center;
    }
}


