@use '../../../../scss/components/common' as common;

:host {
    display: grid;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    cursor: pointer;
    min-width: 250px;
    width: 100%;

    grid: {
        template: {
            columns: min-content 1fr 80px min-content 100px min-content;
            rows: min-content min-content;
            areas: "project-code name stage state priority delete" "project-code created-on stage state priority delete";
        }
        column-gap: 16px;
    }
    @media (width < common.$breakpoint-medium) {
        & {
            grid-template-columns: min-content 1fr 24px min-content 40px min-content;
        }
    }

    @media (width < common.$breakpoint-small) {
        & {
            grid: {
                template: {
                    columns: 90px 1fr 80px 1fr;
                    rows: min-content min-content;
                    areas: "name name name name" "created-on created-on created-on created-on" "stage state priority delete"
                }
                column-gap: 16px;
            }
        }
    }

    @media (width < common.$breakpoint-x-small) {
        & {
            grid: {
                template: {
                    columns: 24px 1fr 40px 1fr;
                    rows: min-content min-content;
                    areas: "name name name name" "created-on created-on created-on created-on" "stage state priority delete"
                }
                column-gap: 16px;
            }
        }
    }

    padding: 8px 16px;

    color: var(--mat-sys-on-surface);

    &:hover {
        --_state-layer-opacity: var(--mat-sys-hover-state-layer-opacity);
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: currentColor;

        opacity: var(--_state-layer-opacity, 0);
    }

    .app-issue__project-code {
        grid-area: project-code;

    }

    .app-issue__name {
        grid-area: name;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }

    .app-issue__created-on {
        grid-area: created-on;

        color: var(--mat-sys-on-surface-variant);
        font-size: 12px;
        overflow: hidden;
    }

    .app-issue__stage {
        grid-area: stage;
        display: grid;
        justify-content: start;
        align-items: center;
    }

    .app-issue__state {
        grid-area: state;
        display: grid;
        justify-content: start;
        align-items: center;
    }

    .app-issue__priority {
        grid-area: priority;
        display: grid;
        justify-content: start;
        align-items: center;

    }

    .app-issue__delete {
        grid-area: delete;
        display: grid;
        place-items: center;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
