@mixin component() {
  [mat-fab] {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    animation: mat-fab-anim 2s forwards;
  }

  @keyframes mat-fab-anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
