@mixin component() {
  .project-list-item {
    .project-list-item__wrap {
      display: grid;
      align-items: center;

      width: 100%;

      grid: {
        column-gap: 8px;
        auto-flow: column;
        template-columns: 32px 1fr;
      }

      &__code {
        font-size: 14px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: lightblue;
        display: grid;
        justify-content: center;
        align-items: center;
      }

      &__title {
        display: flex;
        overflow: hidden;
        .ellipsis {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      //     background-color: var(--mat-sys-surface-bright);
    }
  }
}
