<h2 mat-dialog-title>{{ presetIssueId() ? "Update issue" : "Create issue" }}</h2>

<mat-dialog-content>

    <div class="content">
        <form (ngSubmit)="onSave()" [formGroup]="form" class="form">

            <mat-form-field class="form__project">
                <mat-label>Project</mat-label>
                <mat-select formControlName="projectId">
                    @for (project of projectDataSource.data(); track project.id) {
                        <mat-option [value]="project.id">{{ project.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form__priority">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    @for (priority of selectablePriorities; track priority) {
                        <mat-option [value]="priority">{{ priority }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form__name">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
                @if (name.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="form__description">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput>
            </mat-form-field>

        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="mat-dialog-actions">
    <button (click)="onCancel()" mat-button>Cancel</button>
    <button (click)="onSave()" [disabled]="isInvalidState()" mat-flat-button>
        {{ presetIssueId() ? "Update" : "Create" }}
    </button>
</mat-dialog-actions>
