.project {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-column-gap: 12px;

    &__code {
        white-space: nowrap;
    }
}

.inner {
    white-space: nowrap;
    display: flex;
    align-items: center;
}
