<div class="app-project__code">
    <app-code [code]="project().code" [name]="project().name"></app-code>
</div>

<div class="app-project__name">
    <div class="ellipsis">
        {{ project().name }}
    </div>
</div>

<div class="app-project__created-on">

    <div class="ellipsis">Created: {{ project().createdOn | relativeTime }}</div>

</div>

<div class="app-project__modified-on">

    <div class="ellipsis">Modified: {{ project().modifiedOn | relativeTime }}</div>

</div>

<div class="app-project__actions-edit">
    <button (click)="$event.stopImmediatePropagation();onEdit.emit(project().id)" aria-label="Edit project"
            mat-icon-button>
        <mat-icon>create</mat-icon>
    </button>
</div>
<div class="app-project__actions-delete">
    <button (click)="$event.stopImmediatePropagation();onDelete.emit(project().id)" aria-label="Delete project"
            mat-icon-button>
        <mat-icon [color]="'warn'">delete_outline</mat-icon>
    </button>
</div>


