<div class="project-detail-wrap">
    <div class="project-detail-wrap__name-block">
        <div class="project-detail-wrap__code">
            <app-code
                [code]="project()?.code ?? ''"
                [name]="project()?.name ?? ''"
            >
            </app-code>
        </div>
        <div class="project-detail-wrap__name">
            {{ project()?.name }}
        </div>
    </div>

    <div class="project-detail-wrap__dates">
        <div class="dates">
            <span class="dates__label">Created:</span>
            <span class="dates__date">
                {{ project()?.modifiedOn | dateView : true : false }}
            </span>
        </div>
        <div class="dates">
            <span class="dates__label">Modified:</span>
            <span class="dates__date">
                {{ project()?.modifiedOn | dateView : true : false }}
            </span>
        </div>
    </div>

    <div class="project-detail-wrap__description">
        <div class="description">{{ project()?.description }}</div>
    </div>

    <div class="project-detail-wrap__controls">
        <button (click)="editProject()" mat-flat-button>
            <mat-icon>create</mat-icon>
            Edit Project
        </button>
    </div>

    <div class="project-detail-wrap__content">
        <app-issues [projectId]="project()?.id ?? null"></app-issues>
    </div>

    <button
        (click)="createIssue()"
        aria-label="Create new issue"
        mat-fab>
        <mat-icon>add</mat-icon>
    </button>

</div>


