@use '../../../../scss/components/common' as common;

:host {
    display: grid;
    position: relative;
    isolation: isolate;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-auto-rows: auto;
    justify-content: space-between;
    height: 100%;
}

.list-wrap {
    height: calc(100%);
}

.virtual-example-viewport {
    height: calc(100% - 24px - 16px);

    @media (width < common.$breakpoint-medium) {
        & {
            height: 100%;
        }
    }
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 1000px;
    @media (width < common.$breakpoint-medium) {
        justify-content: center;
        &__title {
            display: none;
        }
    }
}

.content-wrapper {
    --count-item: 0;
    height: 0;
    transition: height 1s;
    overflow: hidden;

    &--active {
        height: calc(var(--count-item) * 48px);
        transition: height 1s;
    }
}

mat-list-item {
    align-items: center;

    mat-icon {
        padding-right: 8px
    }

    @media (width < common.$breakpoint-medium) {
        [matListItemTitle] {
            display: none;
        }
        display: grid;
        justify-content: center;
        align-items: center;

    }
}
