<mat-nav-list>
    <div mat-subheader class="subheader" (click)="toggleProjects()">
        All Projects
        @if (projectOpen) {
            <mat-icon>arrow_drop_down</mat-icon>
        } @else {
            <mat-icon>arrow_drop_up</mat-icon>
        }
    </div>

    <div class="content-wrapper" [class.content-wrapper--active]="projectOpen"
         [ngStyle]="{'--count-item': projectListItems().length}"
    >
        @for (project of projectListItems(); track project.id) {
            <project-list-item [project]="project"></project-list-item>
        }
    </div>

</mat-nav-list>


<mat-nav-list>
    <!--    <div mat-subheader>Projects</div>-->
    <!--        @for (project of dataSource.$data | async; track project.id) {-->
    <!--          <project-list-item [project]="project"></project-list-item>-->
    <!--          &lt;!&ndash;      <mat-list-item routerLink="{{ project.id }}" routerLinkActive="active">&ndash;&gt;-->

    <!--            &lt;!&ndash;        <mat-icon matListItemIcon>folder</mat-icon>&ndash;&gt;-->
    <!--            &lt;!&ndash;        <div matListItemTitle>{{ project.name }}</div>&ndash;&gt;-->
    <!--            &lt;!&ndash;        <div matListItemLine>{{ project.code }}</div>&ndash;&gt;-->
    <!--            &lt;!&ndash;      </mat-list-item>&ndash;&gt;-->
    <!--        }-->
    <mat-divider></mat-divider>

    <div mat-subheader>Notes 22</div>

    <!--    <mat-list-item>-->
    <!--        <mat-icon matListItemIcon>note</mat-icon>-->
    <!--        <div matListItemTitle>{{ 123 }}</div>-->
    <!--        <div matListItemLine>{{ 3333 }}</div>-->
    <!--    </mat-list-item>-->

    <!--    <mat-divider></mat-divider>-->

    <!--    <mat-list-item (click)="recreateProject()">-->
    <!--      <mat-icon matListItemIcon>note_add</mat-icon>-->
    <!--      <div matListItemTitle>Recreate Projects</div>-->
    <!--      <div matListItemLine>Recreate all</div>-->
    <!--    </mat-list-item>-->


</mat-nav-list>
