@use '../../../scss/components/common' as common;

:host {

    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header"  "menu content";
    height: 100%;
    @media (width < common.$breakpoint-medium) {
        & {
            grid-template-columns: 80px 1fr;
        }
    }
}

main {
    grid-area: content;

    padding-inline: 8px;
    padding-bottom: 16px;
}

.header {
    grid-area: header;

    &__link {
        cursor: pointer;
    }
}

.menu-outlet {
    grid-area: menu;
    padding-inline: 8px;
}
