<div class="bottom-menu">
    <div class="bottom-menu__item">
        <button routerLink="projects" aria-label="Рrojects" mat-icon-button>
            <mat-icon>topic_alt</mat-icon>
        </button>
    </div>
    <div class="bottom-menu__item">
        <button routerLink="issues" aria-label="Issues" mat-icon-button>
            <mat-icon>task_alt</mat-icon>
        </button>
    </div>
    <div class="bottom-menu__item">
        <button (click)="generate()" aria-label="Generate" mat-icon-button>
            <mat-icon>restart_alt</mat-icon>
        </button>
    </div>
</div>


