@use '../../../../scss/components/common' as common;

:host {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    isolation: isolate;
    @media (width < common.$breakpoint-small) {
        & {
            display: grid;
        }
    }

    box-shadow: 0px -4px 18px 0px rgba(34, 60, 80, 0.03);
}

.bottom-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: auto;
    justify-content: space-between;
    grid-gap: 12px;
    background-color: var(--mat-sys-surface-container);

    &__item {
        display: grid;
        padding: 12px 8px;
        justify-content: center;
        align-items: center;
    }

}
