<button [matMenuTriggerFor]="menu" mat-button>
    <div class="inner">
        Priorities
        <app-button-select-arrow *ngIf="!breakpointService.isXSmall()"></app-button-select-arrow>
    </div>
</button>

<mat-menu #menu="matMenu">
    @for (priority of selectablePriorities; track priority) {
        <button mat-menu-item (click)="$event.stopPropagation(); onItemClick(priority)">
            <mat-icon>{{ isSelected(priority) ? 'check' : '' }}</mat-icon>
            <app-priority-list-item [priority]="priority"></app-priority-list-item>
        </button>
    }
</mat-menu>
