<div class="toolbar">
    <mat-form-field class="search" subscriptSizing="dynamic">
        <mat-icon class="search__prefix" matIconPrefix>search</mat-icon>
        <input [formControl]="searchControl" matInput placeholder="Search">
        @if (searchControl.value) {
            <button matSuffix mat-icon-button class="search__suffix" (click)="searchControl.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    <button (click)="createProject()" *ngIf="!isOneProject()" mat-flat-button>Create Project</button>
    <button (click)="createIssue()" mat-flat-button>Create Issue</button>
</div>

<div class="container">

    <div class="heading">
        <mat-chip-listbox (change)="onStateChanged($event)" [value]="selectedState()">
            <mat-chip-option value="Open">Open</mat-chip-option>
            <mat-chip-option value="Closed">Closed</mat-chip-option>
        </mat-chip-listbox>

        <app-projects-selection (change)="selectedProjectIds.set($event)" *ngIf="!isOneProject()"
        ></app-projects-selection>
        <app-priorities-selection (change)="selectedPriorities.set($event)"></app-priorities-selection>
        <app-sorting (change)="dataSource.changeSort($event)"
                     [sortPipeName]="'issueSortBy'"
                     [sortVariants]="sortVariants"
                     [sort]="dataSource.sortRequest()"
        ></app-sorting>
    </div>

    <div class="content">
        @if (!dataSource.isLoading()) {
            <mat-action-list>
                @for (issue of dataSource.data(); track issue.id) {
                    <app-issue [issue]="issue" (click)="editIssue(issue.id)"
                               (onSetPriority)="onSetPriority($event, issue.id)"
                               (onSetStage)="onSetStage($event, issue.id)"
                               (onSetState)="onSetState($event, issue.id)"
                               (onDelete)="onDelete(issue.id)"
                    ></app-issue>
                }
            </mat-action-list>
        } @else {
            <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
        }


    </div>

    <app-paginator [dataSource]="dataSource" class="paginator"></app-paginator>

</div>


