<div class="toolbar">
    <mat-form-field class="search" subscriptSizing="dynamic">
        <mat-icon class="search__prefix" matIconPrefix>search</mat-icon>
        <input [formControl]="searchControl" matInput placeholder="Search">
        @if (searchControl.value) {
            <button matSuffix mat-icon-button class="search__suffix" (click)="searchControl.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    <button (click)="createProject()" mat-flat-button>Create Project</button>

</div>

<div class="container">

    <div class="heading">
        <div class="heading__label">Project List</div>

        <app-sorting (change)="dataSource.changeSort($event)"
                     [sortPipeName]="'projectSortBy'"
                     [sortVariants]="sortVariants"
                     [sort]="dataSource.sortRequest()"
        ></app-sorting>
    </div>


    <div class="content">
        @if (!dataSource.isLoading()) {
            <mat-action-list>
                @for (project of dataSource.data(); track project.id) {
                    <app-project [project]="project"
                                 (click)="goToProject(project.id)"
                                 (onEdit)="editProject(project.id)"
                                 (onDelete)="deleteProject(project.id)"
                    ></app-project>
                }
            </mat-action-list>
        } @else {
            <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
        }
    </div>
    <app-paginator [dataSource]="dataSource" class="paginator"></app-paginator>

</div>

<button (click)="createProject()" aria-label="Create new project" mat-fab>
    <mat-icon>add</mat-icon>
</button>


